* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {
    padding-left: 16px;
    padding-right: 16px;
}

.center {
    padding-left: calc(50% - 374px);
    padding-right: calc(50% - 374px);
}

.menu {
    background-color: #222;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 103px;
}

.logo {
    padding: 18px 32px;
}

.menu_button {
    display: flex;
    gap: 27px;
    padding: 18px 32px;
}

.header {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.brand_header {
    background-color: rgb(244, 230, 229);
    width: 100vw;
    min-height: 363px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.info {
    padding-top: 110px;
    padding-bottom: 72px;
    text-align: center;
}

.title {
    font: 30px;
    color: #222;
}

.text {
    font: 14px;
    color: #9f9f9f;
}


.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 14px;
    padding-bottom: 33px;
}

.button {
    padding-bottom: 70px;
    text-align: center;
}


@media (max-width: 767px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    @media screen and (max-width:767px) {
        .icon2 {
            visibility: hidden;
            display: none;
        }

        .icon3 {
            visibility: hidden;
            display: none;
        }

    }

    @media screen and (max-width:767px) {
        .man {
            visibility: hidden;
            display: none;
        }
    }

    .brand_header {
        min-width: 375px;
    }

    .brand {
        width: 263px;
        height: 66px;
        padding-top: 148px;
    }

    .img_offer {
        min-width: 90vw;
        gap: 32px;
    }

    .info {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .catalog {
        padding-bottom: 40px;
    }

    .button {
        padding-bottom: 85px;
    }

}