* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
}

.header {
    padding-bottom: 65px;

}


.brand {
    position: relative;
    width: 768px;
}

.man {
    position: absolute;
    left: 0;
    top: 0;

}

.br {
    position: absolute;
    left: 50%;
    top: 35%;
}

.menu {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.offer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.info {
    padding-top: 110px;
    padding-bottom: 72px;
    text-align: center;
}

.title {
    font: 30px;
    color: #222;
}

.text {
    font: 14px;
    color: #9f9f9f;
}

.catalog {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 14px;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
    padding-bottom: 33px;
}

.button {
    padding-bottom: 70px;
    text-align: center;
}