@import "var";
@import "mixins";

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - $widthContent / 2);
  padding-right: calc(50% - $widthContent / 2);
}

.header {
  background-color: #222;
  @include displayFlexPosition(space-between);
  padding-top: 20px;
  padding-bottom: 20px;

  &__left {
    display: flex;
    align-items: baseline;
    gap: 41px;
    padding-left: 16px;
  }

  &__logo:hover {
    animation: heartbeat 1.5s ease-in-out both;
  }

  &__right {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-right: 16px;
  }
}

.nav {
  background: #ffffff;
  box-shadow: 6px 4px 35px;
  color: rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 81px;
  right: 0;
  transition: right 0.3s;
}

#burger {
  left: -999999px;
  visibility: hidden;

  &:checked ~ .nav {
    right: -$widthBurgerMenu;
  }
}

.menu {
  &__summary {
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  &__content {
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__head {
    font-weight: 400;
    font-size: 14px;
    color: $selectColor;
  }

  &__link-box {
    padding-top: 12px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    color: #6f6e6e;
  }
}

.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;

  &__heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $selectColor;
    padding-left: 16px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}

.section-product {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 16px;
}

.box-product {
  width: 652px;
  height: 306px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: flex-start;

  &__product-description {
    padding: 22px 57px 62px 31px;
  }

  &__name-product {
    padding-bottom: 42px;
    width: 262px;
    font-weight: 400;
    font-size: 24px;
    color: #222;
  }

  &__item-description {
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #575757;
  }

  &__price {
    color: $selectColor;
  }

  &__item-span {
    color: #6f6e6e;
  }

  &__item-quantity {
    display: flex;
    gap: 24px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #575757;
  }

  &__input-quantity {
    width: 44px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    color: #656565;
    text-align: center;
    border: 1px solid #eaeaea;
  }
}

.cross {
  padding-top: 28px;
}

.section_button {
  width: 652px;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;

  &__buttons {
    border: 1px solid #a4a4a4;
    width: 235px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
  }

  &__buttons:hover {
    background-color: $selectColor;
    border: none;
    color: #fff;
  }
}

.section-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-right: 16px;
  
}

.box-form {
  &__heading {
    margin-top: 17px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222;
  }

  &__input {
    width: 341px;
    height: 45px;
    outline: none;
    border: 1px solid #c6c5c5;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #222;
    margin-bottom: 20px;
    padding-left: 17px;
  }

  &__button {
    width: 101px;
    height: 35px;
    border: 1px solid #c6c5c5;
    background-color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    color: #4a4a4a;
    transition: 0.3s;
  }

  &__button:hover {
    background-color: $selectColor;
    border: none;
    color: #fff;
  }
}

.box-checkout {
  width: 284px;
  height: 132px;
  padding: 39px 34px 42px 44px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__sub-price {
    font-weight: 300;
    font-size: 11px;
    color: #4a4a4a;
    padding-bottom: 12px;
  }

  &__total-price {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    padding-bottom: 21px;
  }

  &__checkout-price {
    padding-left: 30px;
    font-weight: 700;
    color: $selectColor;
  }

  &__line {
    border: 1px solid #e2e2e2;
    width: 275px;
    margin-right: 10px;
  }

  &__checkout-button {
    width: 273px;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    background-color: #deabba;
    border: none;
    margin-right: 10px;
    margin-top: 17px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-family: "Lato", sans-serif;
    transition: 0.3s;
  }

  &__checkout-button:hover {
    background-color: $selectColor;
    border: none;
    color: #fff;
  }
}

.subscribe {
  background-image: url("image/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gapItem;
    padding-top: 34px;
    padding-left: 16px;
  }

  &__photo-text {
    width: 359px;
    font-size: 20px;
    text-align: center;
    color: $colorText;
    font-weight: 500;
  }

  &__content {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 140px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  &__title {
    font-size: 24px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }

  &__form {
    display: flex;
  }

  &__input {
    background: #e4e1e1;
    width: 260px;
    height: 49px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #5c5353;
  }

  &__button {
    background: #deabba;
    width: 100px;
    height: 49px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0;
    color: #fff;
    transition: 0.3s;
  }

  &__button:hover {
    background: $selectColor;
  }
}

.section_lower {
  background: $colorText;
  height: 79px;
  @include displayFlexPosition(space-between);
  flex-wrap: wrap;
}

.copyright {
  font-size: 16px;
  color: #fbfbfb;
  padding-left: 16px;
}

.icon {
  padding-right: 16px;
}

.icon_item:hover .focus {
  fill: $selectColor;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .header {
    gap: 424px;
    justify-content: center;
  }

  .top-head {
    justify-content: center;
    gap: 333px;
  }

  .content {
    gap: 63px;
    padding-top: 59px;
    align-items: center;
    flex-direction: column;
  }

  .product_content {
    width: 768px;
    top: 778px;
  }

  .box-product {
    width: 734px;
    
  }

  .box-product__product-description {
    padding: 22px 137px 62px 31px;
}

  .section_button {
    justify-content: flex-end;
    gap: 48px;
}

  .section-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .box-checkout {
    margin-top: 32px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 59px;

    &__content {
      gap: 27px;
    }
  }

  .section_lower {
    padding: 0 32px;
  }
}

