* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial', sans-serif;
}

.section1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 100px 100px;
}

.icon {
    margin-top: 40px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
    margin-bottom: 17px;
}

.text_1 {
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    margin-bottom: 25px;
}

.item2 {
    padding: 40px 31px 25px 29px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.text_content {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 19px;
    padding-top: 92px;
    padding-bottom: 55px;
    background: #FAFAFA;
}

.title {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_2 {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    width: 682px;
    height: 48px;
}

.section2 {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #FAFAFA;
}

.item01 {
    display: grid;
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    align-items: end;
    justify-items: center;
}

.item02 {
    display: grid;
    justify-items: center;
    justify-content: center;
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.img_section1 {
    width: 385px;
    height: 290px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.img_section2 {
    width: 370px;
    height: 290px;
    flex-shrink: 0;
}

.img_section3 {
    width: 400px;
    height: 290px;
    flex-shrink: 0;
}

.h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
}

.text_3 {
    width: 310px;
    height: 63px;
    flex-shrink: 0;
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

button {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
    background-color: #F25822;
    border: 0;
    border-radius: 50px;
    margin: 39px 50px;
}