@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__left {
  display: flex;
  align-items: baseline;
  gap: 41px;
  padding-left: 16px;
}
.header__logo:hover {
  animation: heartbeat 1.5s ease-in-out both;
}

.header_right {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  padding-right: 16px;
}

.nav {
  background: #ffffff;
  box-shadow: 6px 4px 35px;
  color: rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 82px;
  right: 0;
  transition: right 0.3s;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}

#burger:checked ~ .nav {
  right: -232px;
}

.menu__summary {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.menu__content {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__head {
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}
.menu__link-box {
  padding-top: 12px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.brand-head {
  background-color: rgb(244, 230, 229);
  margin-bottom: 65px;
  width: 100vw;
}
.brand-head__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-head__heading {
  border-left: 12px solid #f16d7f;
  height: 93px;
  padding-left: 16px;
}
.brand-head__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.brand-head__brand {
  font-size: 48px;
  font-weight: 900;
  color: #222;
}
.brand-head__luxerious {
  font-size: 32px;
  font-weight: 700;
}
.brand-head__fashion {
  color: #f16d7f;
}

.offer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.img_offer {
  width: 360px;
}

.img_accesories {
  width: 1140px;
}

.img_accesories-phone {
  display: none;
}

.info {
  padding-top: 96px;
  padding-bottom: 48px;
  text-align: center;
}

.title {
  font-size: 30px;
  color: #222;
  font-weight: 500;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
}

.box-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
  max-width: 1600px;
  margin: auto;
  justify-items: center;
}

.productItem {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.productItem__info {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productItem__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.productItem__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  width: 314px;
}
.productItem__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.productItem:hover .productItem_img {
  filter: brightness(0.5);
  transition: 0.4s;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 95px;
}

.button {
  border: 1px solid #f16d7f;
  width: 212px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  background-color: #fff;
  transition: 0.4s;
}

.button:hover {
  background-color: #f16d7f;
  border: none;
  color: #fff;
}

.section-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
  background-color: #222;
}
.section-info__item {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  text-align: center;
}
.section-info__heading {
  font-size: 19px;
  color: #fbfbfb;
  font-weight: 500;
}
.section-info__text {
  font-size: 13px;
  color: #d5d4d4;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.subscribe {
  background-image: url("img/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: 140px;
}
.subscribe__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 16px;
}
.subscribe__photo-text {
  width: 359px;
  font-size: 20px;
  text-align: center;
  color: #222;
  font-weight: 500;
}
.subscribe__content {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.subscribe__title {
  font-size: 24px;
}
.subscribe__text {
  font-size: 18px;
  font-weight: 500;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  background: #e4e1e1;
  width: 260px;
  height: 49px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #5c5353;
}
.subscribe__button {
  background: #deabba;
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  color: #fff;
  transition: 0.3s;
}
.subscribe__button:hover {
  background: #f16d7f;
}

.subscribe_button:hover {
  background: #f16d7f;
}

.section_lower {
  background: #222;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  font-size: 16px;
  color: #fbfbfb;
  padding-left: 16px;
}

.icon {
  padding-right: 16px;
}

.icon_item:hover .focus {
  fill: #f16d7f;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }
  .brand-head {
    height: 367px;
  }
  .brand-head__heading {
    height: 92px;
  }
  .brand-head__title {
    width: 283px;
    height: 78px;
  }
  .brand-head__brand {
    font-size: 44px;
  }
  .brand-head__luxerious {
    font-size: 24px;
  }
  .brand-head__man {
    height: 368px;
    width: 386px;
  }
  .offer {
    gap: 20px;
  }
  .img_offer {
    width: 232px;
  }
  .img_accesories {
    width: 734px;
  }
  .info {
    padding-top: 109px;
    padding-bottom: 72px;
  }
  .box-product {
    gap: 16px;
  }
  .button-section {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .section-info {
    flex-direction: column;
    align-content: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 59px;
    padding-bottom: 140px;
  }
  .subscribe__content {
    gap: 27px;
  }
  .section_lower {
    padding: 0 32px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
  }
  .header {
    padding: 18px 0;
  }
  .icon-menu {
    display: none;
  }
  .nav {
    width: 180px;
    padding: 28px;
    top: 78px;
  }
  .brand-head__section {
    align-items: flex-end;
    padding-top: 148px;
  }
  .brand-head__heading {
    height: 61px;
  }
  .brand-head__title {
    width: 236px;
    height: 66px;
  }
  .brand-head__brand {
    font-size: 38px;
  }
  .brand-head__luxerious {
    font-size: 20px;
  }
  .brand-head__man {
    display: none;
  }
  .offer {
    gap: 32px;
  }
  .img_offer {
    width: 343px;
  }
  .img_accesories {
    display: none;
  }
  .img_accesories-phone {
    display: block;
  }
  .subscribe {
    padding-bottom: 109px;
  }
  .subscribe__photo-text {
    width: 310px;
    height: 54px;
    font-size: 18px;
  }
  .subscribe__content {
    gap: 22px;
  }
  .subscribe__text {
    font-size: 14px;
    font-weight: 400;
  }
  .subscribe__input {
    width: 235px;
    height: 46px;
  }
  .subscribe__button {
    width: 90px;
    height: 46px;
  }
  .section_lower {
    max-width: 375vw;
    height: 143px;
    gap: 40px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 9px;
  }
}/*# sourceMappingURL=homeStyle.css.map */