* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - $widthContent / 2);
    padding-right: calc(50% - $widthContent / 2);
  }

  .top-head__heading{
    font-size: 200px;
  }
  
  