* {
    padding: 0;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.item {
    border: 1px solid #20c5af;
    background-color: #e5d5b7;
    height: calc((100vh / 3) - 13px);
}

@media (max-width: 1024px) and (min-width: 767px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 766px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}