@charset "UTF-8";
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__left {
  display: flex;
  align-items: baseline;
  gap: 41px;
  padding-left: 16px;
}
.header__logo:hover {
  animation: heartbeat 1.5s ease-in-out both;
}
.header__right {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-right: 16px;
}

.nav {
  background: #ffffff;
  box-shadow: 6px 4px 35px;
  color: rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 82px;
  right: 0;
  transition: right 0.3s;
}

#burger {
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.menu__summary {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.menu__content {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__head {
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}
.menu__link-box {
  padding-top: 12px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 64px;
}
.top-head__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  padding-left: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 128px;
  margin-bottom: 96px;
}

.section-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-left: 16px;
}

.box-form__heading {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222;
}
.box-form__input {
  width: 341px;
  height: 45px;
  outline: none;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: "Lato", sans-serif;
  color: #222;
  margin-bottom: 20px;
  padding-left: 17px;
}
.box-form__box-radio {
  margin-bottom: 33px;
  margin-top: 11px;
  display: flex;
}
.box-form__input-radio {
  width: 17px;
  border: 1px solid #a4a4a4;
  margin-right: 10px;
}
.box-form__label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
  color: #000;
}
.box-form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  padding-bottom: 39px;
}
.box-form__button {
  width: 167px;
  height: 50px;
  border: 1px solid #c6c5c5;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #4a4a4a;
  transition: 0.3s;
}
.box-form__button:hover {
  background-color: #f16d7f;
  border: none;
  color: #fff;
}
.box-form__vector {
  padding-left: 15px;
}

.section-info {
  font-weight: 300;
  font-size: 24px;
  color: #000;
  width: 50vw;
  padding-right: 16px;
}
.section-info__heading {
  padding-bottom: 22px;
}
.section-info__text {
  padding-bottom: 21px;
}
.section-info__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-info__list li::before {
  content: "✓ ";
  padding-right: 6px;
}

.subscribe {
  background-image: url("image/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-bottom: 140px;
}
.subscribe__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 16px;
}
.subscribe__photo-text {
  width: 359px;
  font-size: 20px;
  text-align: center;
  color: #222;
  font-weight: 500;
}
.subscribe__content {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.subscribe__title {
  font-size: 24px;
}
.subscribe__text {
  font-size: 18px;
  font-weight: 500;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  background: #e4e1e1;
  width: 260px;
  height: 49px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #5c5353;
}
.subscribe__button {
  background: #deabba;
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  color: #fff;
  transition: 0.3s;
}
.subscribe__button:hover {
  background: #f16d7f;
}

.subscribe_button:hover {
  background: #f16d7f;
}

.section_lower {
  background: #222;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  font-weight: 300;
  font-size: 16px;
  color: #fbfbfb;
  padding-left: 16px;
}

.icon {
  padding-right: 16px;
}

.icon_item:hover .focus {
  fill: #f16d7f;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }
  .header {
    gap: 424px;
    justify-content: center;
  }
  .content {
    gap: 22px;
  }
  .section-info {
    min-width: 40vw;
    font-size: 16px;
  }
  .section-info__heading {
    padding-bottom: 32px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 59px;
    padding-bottom: 140px;
  }
  .subscribe__content {
    gap: 27px;
  }
  .section_lower {
    padding: 0 32px;
  }
}/*# sourceMappingURL=registration.css.map */