* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__left {
  display: flex;
  align-items: baseline;
  gap: 41px;
}
.header__right {
  display: flex;
  gap: 25px;
}

.top-head {
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.top-head__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumbs_link_slash::after {
  content: " / ";
}

.breadcrumbs_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs_link_page {
  font-weight: 700;
  color: #f16d7f;
}

.filter-sort {
  height: 132px;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.filter[open] {
  background: #ffffff;
  box-shadow: 6px 4px 35px;
  color: rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #222;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filter__item[open] .filter__head {
  color: #f16d7f;
}

.sort {
  display: flex;
  padding-top: 12px;
  gap: 28px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #ffffff;
  box-shadow: 6px 4px 35px;
  color: rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__input[type=checkbox] {
  display: none;
}
.sort__custom-checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #ebebeb;
  cursor: pointer;
}

.product_description_link {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.button_addCart {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  display: flex;
  align-items: center;
  gap: 23px;
  padding: 14px 57px 14px 24px;
  border: 1px solid #f16d7f;
  background-color: #fff;
  margin-top: 48px;
  margin-bottom: 64px;
}

.box-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 128px;
}

.productItem {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.productItem__info {
  background-color: #f8f8f8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productItem__name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.productItem__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  width: 314px;
}
.productItem__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.box-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
  background-color: #222;
}
.box-info__item {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  text-align: center;
}
.box-info__item-heading {
  font-size: 19px;
  color: #fbfbfb;
  font-weight: 500;
}
.box-info__text-item {
  font-size: 13px;
  color: #d5d4d4;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.section_subscribe {
  background-image: url("image/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 34px;
}

.photo_text {
  width: 359px;
  font-size: 20px;
  text-align: center;
  color: #222;
  font-weight: 500;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 140px;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.subscribe__title {
  font-size: 24px;
}
.subscribe__text {
  font-size: 18px;
  font-weight: 500;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  background: #e4e1e1;
  width: 260px;
  height: 49px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #5c5353;
}
.subscribe__button {
  background: #deabba;
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  color: #fff;
}
.subscribe__button:hover {
  background: #f16d7f;
}

.section_lower {
  background: #222;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  font-size: 16px;
  color: #fbfbfb;
}

.icon_item:hover .focus {
  fill: #f16d7f;
}/*# sourceMappingURL=catalogStyle.css.map */