@import "var";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - $widthContent / 2);
  padding-right: calc(50% - $widthContent / 2);
}

.header {
  background-color: #222;
  @include displayFlexBetween($position);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_left {
  display: flex;
  align-items: baseline;
  gap: 41px;
  padding-left: 16px;
}

.header_right {
  display: flex;
  gap: 25px;
  padding-right: 16px;
}

.top-head {
  background-color: #f8f3f4;
  @include displayFlexBetween($position);
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-head_heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $selectColor;
  padding-left: 16px;
}

.breadcrumbs {
  padding-right: 16px;
}

.breadcrumbs_link_slash::after {
  content: " / ";
}

.breadcrumbs_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs_link_page {
  font-weight: 700;
  color: $selectColor;
}

.product {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 42px;
  position: relative;

  &__content {
    border: 1px solid #eaeaea;
    width: $widthContent;
    background-color: #fff;
    @include displayFlexColumn;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 30px;
    position: absolute;
    top: 719px;
  }

  &__type-product {
    font-weight: 300;
    font-size: 14px;
    color: $selectColor;
    margin-bottom: 12px;
  }

  &__brand-product {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #4d4d4d;
    margin-top: 12px;
    margin-bottom: 48px;
  }

  &__text {
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
  }

  &__price {
    margin-top: 32px;
    margin-bottom: 64px;
    font-weight: 300;
    font-size: 24px;
    color: $selectColor;
  }

  &__line {
    width: 642px;
  }

  &__description {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 64px;
  }

  &__description-link {
    font-weight: 400;
    font-size: 14px;
    color: #6f6e6e;
  }

  &__button-addCart {
    font-weight: 400;
    font-size: 16px;
    color: $selectColor;
    display: flex;
    align-items: center;
    gap: 23px;
    padding: 14px 57px 14px 24px;
    border: 1px solid $selectColor;
    background-color: #fff;
    margin-top: 48px;
    margin-bottom: 64px;
  }
}

summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: url("image/Vector2.svg");
  margin-left: 10px;
}

.box-product {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 128px;
  padding-left: 16px;
  padding-right: 16px;
}

.productItem {
  width: $thirdWidthContent;
  padding-top: 700px;
  @include displayFlexColumn;

  &__info {
    background-color: #f8f8f8;
    padding: 24px 16px;
    @include displayFlexColumn;
    gap: 16px;
  }

  &__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
  }

  &__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    width: 314px;
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $selectColor;
  }
}

.section_subscribe {
  background-image: url("image/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 34px;
  padding-left: 16px;
}

.photo_text {
  width: 359px;
  font-size: 20px;
  text-align: center;
  color: $colorText;
  font-weight: 500;
}

.subscribe {
  background-image: url("image/photo_subscribe.png");
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gapItem;
    padding-top: 34px;
    padding-left: 16px;
  }

  &__photo-text {
    width: 359px;
    font-size: 20px;
    text-align: center;
    color: $colorText;
    font-weight: 500;
  }

  &__content {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 140px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  &__title {
    font-size: 24px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }

  &__form {
    display: flex;
  }

  &__input {
    background: #e4e1e1;
    width: 260px;
    height: 49px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #5c5353;
  }

  &__button {
    background: #deabba;
    width: 100px;
    height: 49px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0;
    color: #fff;
    transition: 0.3s;
  }

  &__button:hover {
    background: $selectColor;
  }
}

.section_lower {
  background: $colorText;
  height: 79px;
  @include displayFlexPosition(space-between);
  flex-wrap: wrap;
}

.copyright {
  font-size: 16px;
  color: #fbfbfb;
  padding-left: 16px;
}

.icon {
  padding-right: 16px;
}

.icon_item:hover .focus {
  fill: $selectColor;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .product {
    &__content {
      width: 100vw;
      top: 778px;
    }

    &__text {
      width: 555px;
    }
  }

  .box-product {
    gap: 16px;
    
  }

  .item-display-none {
    display: none;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 59px;

    &__content {
      gap: 27px;
    }
  }

  .section_lower {
    padding: 0 32px;
  }
}


@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - (374px / 2));
    padding-right: calc(50% - (374px / 2));
  }

  .header {
    padding: 18px 0;
  }

  .icon-menu {
    display: none;
  }

  .nav {
    width: 180px;
    padding: 28px;
    top: 78px;
  }

  .header__right {
    padding-right: 0;
  }

  .top-head {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
  }

  .top-head_heading {
    padding-left: 0;
  }

  .breadcrumbs {
    padding-right: 0;
  }

  .product {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 29px;

    &__photo-women {
      width: 374px;
      height: 454px;
    }

    &__content {
      top: 513px;
    }

    &__brand-product {
     margin-bottom: 32px;
    }

    &__text {
      width: 326px;
    }

    &__price {
      margin-bottom: 31px;
    }

    &__line {
      width: 174px;
      height: 3px;
    }

    &__description {
      margin-top: 48px;
    }
  }

  summary {
    font-size: 10px;
  }

  .box-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 677px;
 
  }

  .productItem {
    padding-top: 0;
  }

  .subscribe {
 
    &__photo-text {
      width: 310px;
      height: 54px;
      font-size: 18px;
    }

    &__content {
      gap: 22px;
    }

    &__text {
      font-size: 14px;
      font-weight: 400;
    }

    &__input {
      width: 235px;
      height: 46px;
    }

    &__button {
      width: 90px;
      height: 46px;
    }
  }

  .section_lower {
    max-width: 375vw;
    height: 143px;
    gap: 40px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-bottom: 9px;
  }

}
