@import 'var';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - $widthContent / 2);
    padding-right: calc(50% - $widthContent / 2);
  }
  
  .header {
    background-color: #222;
    @include displayFlexPosition (space-between);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header_left {
    display: flex;
    align-items: baseline;
    gap: 41px;
  }
  
  .header_right {
    display: flex;
    gap: 25px;
  }
  
 
  .brand-head {
    background-color: rgb(244, 230, 229);    
    margin-bottom: 65px;

  }

  .brand-head_section{
    @include displayFlexWrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 330px;
  }
  
  .section-heading {
    display: flex;
    gap: 16px;
  }
  
  .brand {
    font-size: 48px;
    font-weight: 900;
    color: $colorText;
  }

  .luxerious{
    font-size: 32px;
    font-weight: 700;
  }
  
  .fashion {
    color: $selectColor;
  }
  
  .offer {
    @include displayFlexWrap;
    gap: 30px;
  }

  .img_offer{
    width: 360px;
  }
  .img_offer_accesories{
    width: $widthContent;
  }
  
  .info {
    padding-top: 96px;
    padding-bottom: 48px;
    text-align: center;
  }
  
  .title {
    font-size: 30px;
    color: $colorText;
    font-weight: 400;
       
  }
  
  .text {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
  }
  
  .box-product {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

  }
  .productItem {
    width: $thirdWidthContent;
    @include displayFlexColumn;

    &__info {
      background-color: #f8f8f8;
      padding: 24px 16px;
      @include displayFlexColumn;
      gap: 16px;
    }
  
    &__name {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000;
    }
  
    &__description {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5d5d5d;
      width: 314px;
    }
  
    &__price {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $selectColor;
    }

    &:hover .productItem_img{
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
    }
  }

   .button {
    padding-top: 18px;
    padding-bottom: 95px;
    text-align: center;
  }
  
  .button:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
  }
  
  .section-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;
    background-color: $colorText;
  }
  
  .item {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 16px;
    width: 360px;
    text-align: center;
  }
  
  .item_heading {
    font-size: 19px;
    color: #fbfbfb;
    font-weight: 500;
  }
  
  .text_item {
    font-size: 13px;
    color: #d5d4d4;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  .section_subscribe {
      background-image: url("img/photo_subscribe.png");
      padding-top: 63px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
  }
  
  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 34px;
  }
  
  .photo_text {
    width: 359px;
    font-size: 20px;
    text-align: center;
    color: $colorText;
    font-weight: 500;
  }
  
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 140px;
  }
  
  .subscribe_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }
  
  .sub_title {
    font-size: 24px;
  }
  
  .sub_text {
    font-size: 18px;
    font-weight: 500;
  }
  
  .subscribe_form {
    display: flex;
    align-items: baseline;
  }
  
  .subscribe_input {
    background: #e4e1e1;
    width: 260px;
    height: 49px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #5c5353;
  }
  
  .subscribe_button {
    background: #deabba;
    width: 100px;
    height: 49px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0;
    color: #fff;
  }
  
  .subscribe_button:hover {
    background: $selectColor;
  }
  
  .section_lower {
    background: $colorText;
    height: 79px;
    @include displayFlexPosition (space-between);
    flex-wrap: wrap;
  }
  
  .copyright {
    font-size: 16px;
    color: #fbfbfb;
  }
    
  .icon_item:hover .focus {
    fill: $selectColor;
  }